h1 {
    text-align: center;
    color: white;
    font-family: Montserrat;
    size: 70px;
    background-color: darkred;
    padding: 20px;
    border: 20px;
}

h4 {
    font-family: Noto Sans Mono;
    size: 25px;
}

h3 {
    font-family: Noto Sans Mono;
    size: 35px;
    padding: 10px;
}